{
    "branches": [
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        "@semantic-release/npm",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md",
                    "package.json"
                ]
            }
        ],
        "@semantic-release/github",
        [
            "semantic-release-ms-teams",
            {
                "title": "A new Component Library version has been released",
                "showContributors": true
            }
        ]
    ]
}
