/* GLOBAL: Styles
 *
 * Should only contain a small number of styles
 * that should apply on every page, but which 
 * aren't better served by a library or 
 * overrides of bootstrap styles
 */

body {
    line-height: $line-height-body;
    letter-spacing: $tracking-body;
    font-size: $body-s;

    @include media-breakpoint-up(md) {
        font-size: $body-m;
    }

    @include media-breakpoint-up(xl) {
        font-size: $body-l;
    }
}

hr {
    opacity: 1;
}

.zindex-fixed {
    z-index: $zindex-fixed;
}

.vs-sticky-nav {
    position: sticky;
    z-index: $zindex-fixed;
    top: -28px;

    @include media-breakpoint-up(md) {
        top: -36px;
    }

    // If the skip to bar is focussed, stop trying to hide the global menu as this cuts the skip to
    // in half
    &:has(.vs-skip-to:focus-within) {
        top: 0;
    }
}

.no-js { 
    .vs-sticky-nav {
        position: initial;
        top: 0;

        @include media-breakpoint-up(md) {
            top: 0;
        }
    }
}