%reset-clear {
  /* clears the 'X' from Internet Explorer */
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the 'X' from Chrome */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

/**************
BUTTON STYLES
***************/

%button-default-styles {
    font-weight: $font-weight-semi-bold;
    transition: $transition-base;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border-width: 2px;
    line-height: $line-height-base;
}

%primary-button-focus {
    box-shadow: 
        0 0 0 2px $vs-color-new-border-inverse, 
        0 0 0 4px $vs-color-new-interaction-focus;
}

%button-disabled { 
    background-color: $vs-color-new-interaction-cta-disabled;
    border-color: $vs-color-new-interaction-cta-disabled;
    color: $vs-color-new-interaction-link-disabled;
    opacity: $opacity-100;
}


/**************
LINK STYLES
***************/

%outline-link-focus {
    outline: 2px solid $vs-color-new-interaction-focus;
}

%outline-link-focus-dark {
    outline: 2px solid $vs-color-new-interaction-focus-on-bold;
}
