%reset-clear {
  /* clears the 'X' from Internet Explorer */
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the 'X' from Chrome */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

/**************
BUTTON STYLES
***************/

%button-default-styles {
    font-family: $font-family-base;
    font-weight: $font-weight-semi-bold;
    transition: $transition-base;
    text-decoration: none;
    letter-spacing: $letter-spacing-m;
    position: relative;
    overflow: hidden;
    border-width: 2px;
    line-height: $line-height-standard;
}

%primary-button-focus {
    box-shadow: 
        0 0 0 2px $vs-color-background-inverse inset, 
        0 0 0 3px $vs-color-border-focus inset;
}

%button-disabled { 
    background-color: $vs-color-background-disabled;
    border-color: $vs-color-background-disabled;
    color: $vs-color-text-inverse;
    opacity: $opacity-100;

    &:hover {
        background-color: $vs-color-background-disabled;
        border-color: $vs-color-background-disabled;
    }
}


/**************
LINK STYLES
***************/

%outline-link-focus {
    outline: 2px solid $vs-color-border-focus;
}

%outline-link-focus-dark {
    outline: 2px solid $vs-color-border-accent-gorse;
}

/**************
HEADING STYLES
***************/

/* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1920,18,1.125,9,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  @include utopia.generateTypeScale((
    "minWidth": 320,
    "maxWidth": 1920,
    "minFontSize": 16,
    "maxFontSize": 18,
    "minTypeScale": 1.125,
    "maxTypeScale": 1.125,
    "positiveSteps": 9,
    "negativeSteps": 2,
    "prefix": "step-",
  ));
}

$font-sizes: (
    1: var(--vs-font-step-5),
    2: var(--vs-font-step-4),
    3: var(--vs-font-step-3),
    4: var(--vs-font-step-2),
    5: var(--vs-font-step-1),
    6: var(--vs-font-step-0),
);

/* Update font sizes */
$sub-font-sizes: (
    2: $font-size-h2-sub,
    3: $font-size-h3-sub,
);

%heading-default-styles {
    font-family: $headings-font-family;

    @each $level, $size in $font-sizes {
        @at-root h#{$level}#{&},
        &.vs-heading--style-level-#{$level} {
            // letter-spacing: $size * 0.1;
            // margin-bottom: $size;
            // margin-top: $size * 0.2;
            font-size: $size;
        }
    }

    // @each $level, $size in $md-font-sizes {
    //     @at-root h#{$level}#{&},
    //     &.vs-heading--style-level-#{$level} {
    //         @include media-breakpoint-up(md) {
    //             letter-spacing: $size * 0.1;
    //             margin-bottom: $size;
    //             margin-top: $size * 0.6;
    //             font-size: $size;
    //         }
    //     }
    // }

    // @at-root h#{5}#{&}, h#{6}#{&},
    // &.vs-heading--style-level-#{5},
    // &.vs-heading--style-level-#{6}{
    //     font-family: $font-family-sans-serif;
    //     letter-spacing: normal;
    //     font-weight: $font-weight-bold;
    // }

    &.vs-heading--thin {
        font-family: $headings-font-family-thin;
    }

    .vs-heading__sub-heading {
        font-family: $headings-font-family-thin;
        display: block;

        @each $level, $size in $sub-font-sizes {
            @at-root h#{$level}#{&} {
                letter-spacing: $size * 0.1;
                font-size: $size;
                margin-top: $size * 0.5;
            }
        }
    }

    &.vs-heading--alternative {
        font-family: $font_family_sans_serif;
        font-weight: $font-weight-light;
        letter-spacing: normal;
    }
}
