%reset-clear {
  /* clears the 'X' from Internet Explorer */
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the 'X' from Chrome */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

/**************
BUTTON STYLES
***************/

%button-default-styles {
    transition: $transition-base;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border-width: $vs-border-width-md;
    line-height: $line-height-base;
}

%button-default-font-weight {
    font-weight: $vs-font-weight-medium;
}

%primary-button-focus {
    box-shadow: 
        0 0 0 2px $vs-color-border-inverse, 
        0 0 0 4px $vs-color-interaction-focus;
}

%button-disabled { 
    background-color: $vs-color-interaction-cta-disabled;
    border-color: $vs-color-interaction-cta-disabled;
    color: $vs-color-interaction-link-disabled;

    .vs-icon:not(.vs-map-marker-icon__marker, .vs-map-marker-icon__icon) {
        color: $vs-color-icon-disabled;
    }
}


/**************
LINK STYLES
***************/

%outline-link-focus {
    outline: $vs-border-width-md solid $vs-color-interaction-focus;
}

%outline-link-focus-dark {
    outline: $vs-border-width-md solid $vs-color-interaction-focus-on-bold;
}
