@mixin forms-common {
    label,
    legend {
        font-weight: $font-weight-semi-bold;
        margin-bottom: 0;
    }

    legend {
        font-size: $font-size-body-md;
    }

    .error {
        font-size: $font-size-body;
        color: $vs-color-text-error;
        display: block;
    }

    .hint-text {
        font-size: $font-size-body;
        color: $vs-color-text-secondary;
        margin-bottom: 0;
    }
}

@mixin form-element-styles {
    border: $vs-color-border-input 1px solid;
}

@mixin form-error-state {
    border-color: $vs-color-border-error;
    box-shadow: 0 0 0 2px $vs-color-border-error inset;
}

@mixin form-focus-state {
    border-color: $vs-color-interaction-focus;
    box-shadow: 0 0 0 2px $vs-color-interaction-focus inset;
    outline: none;
}

@mixin form-disabled-state {
    background-color: $vs-color-background-inverse;
    border-color: $vs-color-border-disabled;
    color: $vs-color-text-disabled;
}

@mixin form-checkbox($size, $font-size, $line-height) {
    input[type="checkbox"] {
        outline: $vs-color-border-input 1px solid;
        border: none;
        width: $size;
        height: $size;
        align-self: flex-start;
        position: relative;
    
         &:before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: $vs-color-background-inverse;
            position: absolute;
            top: 0;
            left: 0;
        }
    
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
        }
    
        &:focus {
            outline: none;
    
            &:after {
                @include form-focus-state
            }
        }
    
        &:checked {
            &:before {
                font-family: "Font Awesome 6 Pro";
                background-color: $vs-color-interaction-cta-primary;
                content: "\f00c";
                color: $vs-color-icon-inverse;
                text-align: center;
                line-height: $line-height;
                font-size: $font-size;
            }
        }
    }    
}

