@mixin forms-common {
    label,
    legend {
        font-weight: $font-weight-semi-bold;
        margin-bottom: 0;
    }

    legend {
        font-size: $font-size-body-md;
    }

    .error {
        font-size: $font-size-body;
        color: $vs-color-text-danger;
        display: block;
    }

    .hint-text {
        font-size: $font-size-body;
        color: $vs-color-text-subtle;
        margin-bottom: 0;
    }
}

@mixin form-element-styles {
    border: $vs-color-border-input 1px solid;
}

@mixin form-error-state {
    border-color: $vs-color-border-danger;
    box-shadow: 0 0 0 2px $vs-color-border-danger inset;
}

@mixin form-focus-state {
    border-color: $vs-color-border-focus;
    box-shadow: 0 0 0 2px $vs-color-border-focus inset;
    outline: none;
}
