@mixin map-button-themes {
    $themes: (
        "cities": $vs-color-icon-accent-loch-ness,
        "towns": $vs-color-icon-accent-grey-02,
        "islands": $vs-color-icon-accent-saltire,
        "regions": $vs-color-icon-accent-bramble,
        "featured": $vs-color-icon-accent-buachaille,
        "acco": $vs-color-icon-accent-bramble,
        "attr": $vs-color-icon-accent-grey-02,
        "acti": $vs-color-icon-accent-heather,
        "even": $vs-color-icon-accent-saltire,
        "cate": $vs-color-background-accent-whisky,
        "reta": $vs-color-icon-accent-loch-ness,
        "twnv": $vs-color-icon-accent-bramble,
        "vics": $vs-color-icon-accent-bramble,
        "outlander-castle": $vs-color-icon-accent-heather,
        "outlander-church-abbey": $vs-color-icon-accent-cranachan,
        "outlander-city-town-village": $vs-color-icon-accent-loch-ness,
        "outlander-heritage": $vs-color-background-accent-whisky,
        "outlander-landscape-park": $vs-color-icon-accent-grey-02,
        "outlander-palace-house": $vs-color-icon-accent-bramble,
        "distilleries": $vs-color-icon-accent-cranachan,
        "itinerary-stop": $vs-color-icon-tertiary,
    );

    @each $name, $color in $themes {
        .vs-main-map-category__button--#{$name} {
            &:hover,
            &:focus {
                background: $color;
            }
        };

        .vs-icon.vs-map-marker-icon__marker--#{$name},
        .vs-button.btn-transparent .vs-icon .vs-map-marker-icon__marker--#{$name} {
            color: $color;
        }
    };
};
