@mixin map-button-themes {
    $themes: (
        "cities": $color-theme-secondary-indigo,
        "towns": $color-secondary-teal-shade-3,
        "islands": $color-map-blue,
        "regions": $color-theme-primary,
        "featured": $color-secondary-orange-shade-1,
        "acco": $color-pink,
        "attr": $color-secondary-teal-shade-3,
        "acti": $color-purple,
        "even": $color-map-blue,
        "cate": $color-map-red,
        "reta": $color-theme-secondary-indigo,
        "twnv": $color-map-purple,
        "vics": $color-pink,
        "outlander-castle": $color-purple,
        "outlander-church-abbey": $color-secondary-orange-shade-3,
        "outlander-city-town-village": $color-theme-secondary-indigo,
        "outlander-heritage": $color-map-red,
        "outlander-landscape-park": $color-secondary-teal-shade-3,
        "outlander-palace-house": $color-pink,
        "distilleries": $color-secondary-orange-shade-3,
    );

    @each $name, $color in $themes {
        .vs-main-map-category__button--#{$name} {
            &:hover,
            &:focus {
                background: $color;
            }
        };

        .vs-main-map-marker-icon__marker--#{$name},
        .vs-button.btn-transparent .vs-icon .vs-main-map-marker-icon__marker--#{$name} {
            color: $color;
        }
    };
};
