/* 
 * Various video button styles used within stretchedLinkCards 
 */

@mixin square-video-button {
    .vs-stretched-link-card__video-button {
        padding: $spacer-075 $spacer-100 $spacer-050;
        flex-direction: column;

        .vs-icon {
            margin-right: $spacer-0;
            margin-top: $spacer-0;
            margin-bottom: $spacer-025;
        }
    }

    .vs-stretched-link-card__video-btn-text {
        display: none;
    }
}

@mixin small-rectangle-video-button {
    .vs-stretched-link-card__video-button {
        padding: $spacer-075 $spacer-100;
        flex-direction: row;

        .vs-icon {
            margin-right: $spacer-050;
            margin-top: -.05em;
            margin-bottom: $spacer-0;
        }
    }

    .vs-stretched-link-card__video-btn-text {
        display: none;
    }
}

@mixin full-rectangle-video-button {
    .vs-stretched-link-card__video-button {
        padding: $spacer-075 calc(#{$spacer-200} + #{$spacer-050});
        flex-direction: row;

        .vs-icon {
            margin-right: $spacer-050;
            margin-top: -.05rem;
            margin-bottom: $spacer-0;
        }
    }

    .vs-stretched-link-card__video-btn-text {
        display: inline-block;
    }
}
