/* 
 * Various video button styles used within stretchedLinkCards 
 */

@mixin square-video-button {
    .vs-stretched-link-card__video-button {
        padding: $vs-spacer-075 $vs-spacer-100 $vs-spacer-050;
        flex-direction: column;

        .vs-icon {
            margin-right: $vs-spacer-0;
            margin-top: $vs-spacer-0;
            margin-bottom: $vs-spacer-025;
        }
    }

    .vs-stretched-link-card__video-btn-text {
        display: none;
    }
}

@mixin small-rectangle-video-button {
    .vs-stretched-link-card__video-button {
        padding: $vs-spacer-075 $vs-spacer-100;
        flex-direction: row;

        .vs-icon {
            margin-right: $vs-spacer-050;
            margin-top: -.05em;
            margin-bottom: $vs-spacer-0;
        }
    }

    .vs-stretched-link-card__video-btn-text {
        display: none;
    }
}

@mixin full-rectangle-video-button {
    .vs-stretched-link-card__video-button {
        padding: $vs-spacer-075 calc(#{$vs-spacer-200} + #{$vs-spacer-050});
        flex-direction: row;

        .vs-icon {
            margin-right: $vs-spacer-050;
            margin-top: -.05rem;
            margin-bottom: $vs-spacer-0;
        }
    }

    .vs-stretched-link-card__video-btn-text {
        display: inline-block;
    }
}
