/* 
 * Creates a button variant for all states using 
 * default, hover and focus colours provided. 
 */

@mixin vs-button-variant(
    $color, $background, $border, 
    $hover-color, $hover-background, $hover-border,
    $active-color, $active-background, $active-border,
    $focus-color, $focus-background, $focus-border, ) 
{

    color: $color;
    background-color: $background;
    border-color: $border;

    .vs-icon:not(.vs-map-marker-icon__marker, .vs-map-marker-icon__icon) {
        color: $color;
    }

    &:hover{
        color: $hover-color;
        background-color: $hover-background;
        border-color: $hover-border;

        .vs-icon {
            color: $hover-color;
        }
    }

    &:active, &:active:focus{
        color: $active-color;
        background-color: $active-background;
        border-color: $active-border;

        .vs-icon {
            color: $active-color;
        }
    }

    &:focus{
        color: $focus-color;
        background-color: $focus-background;
        border-color: $focus-border;

        .vs-icon {
            color: $focus-color;
        }
    }

}