/* 
 * Sets correct styles for each heading style 
 */

@mixin heading-style($style, $with-margins: true) {
    // Extract base properties
    $size: map-get(
        map-get($heading-styles, $style), size
    );
    $size-md: map-get(
        map-get($heading-styles, $style), breakpoint-md
    );

    // set the heading font size
    font-size: $size;

    // Apply breakpoint-md font size if defined
    @if $size-md {
        @media (min-width: 768px) {
            font-size: $size-md;
        }
    }

    // set margins if with-margins is true
    @if $with-margins {
        $margin: map-get(
            map-get($heading-styles, $style), margin
        );

        margin: $margin;
    }
}

$heading-styles: (
    display-m: (
        size: $display-m,
        margin: $spacer-100 0 $spacer-075,
    ),
    display-s: (
        size: $display-s,
        breakpoint-md: $display-m,
        margin: $spacer-100 0 $spacer-075,
    ),
    heading-xl: (
        size: $heading-xl,
        margin: $spacer-100 0 $spacer-075,
    ),
    heading-l: (
        size: $heading-l,
        breakpoint-md: $heading-xl,
        margin: $spacer-100 0 $spacer-075,
    ),
    heading-m: (
        size: $heading-m,
        breakpoint-md: $heading-l,
        margin: $spacer-075 0 $spacer-050,
    ),
    heading-s: (
        size: $heading-s,
        breakpoint-md: $heading-m,
        margin: $spacer-075 0 $spacer-050,
    ),
    heading-xs: (
        size: $heading-xs,
        breakpoint-md: $heading-s,
        margin: $spacer-075 0 $spacer-050,
    ),
    heading-xxs: (
        size: $heading-xxs,
        breakpoint-md: $heading-xs,
        margin: $spacer-075 0 $spacer-050,
    ),
    heading-xxxs: (
        size: $heading-xxxs,
        breakpoint-md: $heading-xxs,
        margin: $spacer-075 0 $spacer-050,
    ),
);
